.bgGrey{
    background-color: #f8f8f8;
    padding: 1rem;
}

.bgGreen{
    background-color: #5eb2a8; 
    color: #fff;
}

.bgYellow{
    background-color: #f8b25a; 
    color: #fff;
}

.btnCreate{
    background-color: #5eb2a8;
    padding: 5px 21px;
    border-radius: 14px;
    color: #fff;
}

.bgPink{
    background-color: #f28d8a;
    color: #fff;
}

.colorPink{
    color: #f28d8a;
}

.card{
    box-shadow: none;
}

.card-footer{
    background-color: #ebebeb;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border: none;
    background-color: #f28d8a;
  }

 
  .title{
    margin-top: 2rem;
    font-weight: bold;
    font-size: 36px;
  }

  .my-pagination ::ng-deep .ngx-pagination{
    margin-top: 1.5rem;
} 

.my-pagination ::ng-deep .ngx-pagination .current {
    background: #556ee6;
    border-radius: 50%;
    cursor: pointer;
}