.bgGreen{
    background-color: #5eb2a8; 
    color: #fff;
}

.bgPink{
    background-color: #f28d8a;
    color: #fff;
}

.myTitle{
    color: #5eb2a8;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border: none;
    background-color: #f28d8a;
  }