<div [@routerTransition]>
    <div class="bgGrey m-2">
         <section class="content-header">
             <div class="container-fluid">
                 <div class="row">
                     <div class="col-6">
                         <h1>Confirmation</h1>
                     </div> 
                 </div>
             </div>
         </section>
         <section class="content px-2">
             <div class="container-fluid">
         
              <br>
     
                 <div class="card">
                     <div class="card-body">
                        <div class="d-flex containAlerts">
                            <div class="notifications">
                                <i class="fa-regular fa-bell" [ngClass]=" notifications > 0 ? 'bx-tada' :'' "></i>
                                <span class="badge bg-danger rounded-pill">{{displayNotifications}}</span> 
                            </div>

                            <div style="width: 65%;display: flex;">
                                <input type="number" class="form-control w-75" [(ngModel)]="PendingAssignment">
                                <button class="btn bgPink" (click)="SetBulkAssgnmentPending(PendingAssignment)">Add</button>
                            </div>
                        </div>

                        <p *ngIf="!showTable" class="alert alert-warning text-center">Data is Empty</p>
    
                         <div *ngIf="showTable" class="table-responsive">
                           
                             <table class="table table-striped table-bordered" [busy]="isTableLoading">
                                <caption>Pending Requests</caption> 
                                <thead class="bg-light">
                                 <tr>
                                     <th>Name</th>
                                     <th>National ID</th>
                                     <th>Mobile Number</th>
                                     <th>Pending Comment</th> 
                                     <th>address</th>
                                     <th>Submited Date</th>  
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr *ngFor="let user of pendingRequests | paginate: { itemsPerPage: numberRows, currentPage: currentPage }"
                                    (click)="viewDetails(user.publicId)" class="btnView">
                                     <td>{{ user.nameEn }}</td>
                                     <td>{{ user.nationalId }}</td>
                                     <td>{{ user.mobileNumber }}</td>
                                     <td></td>
                                     <td>{{user.homeAddress}}</td>
                                     <td>{{user.submitDate }}</td>  
                                 </tr>
                                 </tbody>
                             </table>
                         </div>
    
                         <div *ngIf="showTable" class="row justify-content-space-between align-items-center">
                            <div class="col-md-1">
                             
                            </div>
                              <div class="col-md-11 text-right">
                                 <pagination-controls class="my-pagination text-end" (pageChange)="currentPage = $event" previousLabel="" nextLabel=""></pagination-controls>
                              </div>
                
                           </div>
                     </div>
                     
                 </div>

               <br>
               
               <div class="card">
                <div class="card-body">
                    <div class="d-flex containAlerts">
                        <div class="notifications">
                            <i class="fa-regular fa-bell" [ngClass]=" notifications > 0 ? 'bx-tada' :'' "></i>
                            <span class="badge bg-danger rounded-pill">{{displayNotifications}}</span> 
                        </div>

                        <div style="width: 65%;display: flex;">
                            <input type="number" class="form-control w-75" [(ngModel)]="newRequestAssignment">
                            <button class="btn bgPink" (click)="SetBulkAssgnmentNewRequest(newRequestAssignment)">Add</button>
                        </div>
                    </div>
                    
                   <p *ngIf="!showTable" class="alert alert-warning text-center">Data is Empty</p>

                    <div *ngIf="showTable" class="table-responsive">
                       

                        <table class="table table-striped table-bordered" [busy]="isTableLoading">
                            <caption>New Requests</caption>
                            <thead class="bg-light">
                            <tr>
                                <th>Name</th> 
                                <th>National ID</th> 
                                <th>Mobile Number</th>
                                <th>Pending Comment</th>
                                <th>address</th>
                                <th>Submited Date</th>  
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of newRequests | paginate: { itemsPerPage: numberRows, currentPage: currentPage }"
                               (click)="viewDetails(user.publicId)" class="btnView">
                                <td>{{ user.nameEn }}</td>
                                <td>{{ user.nationalId }}</td>
                                <td>{{ user.mobileNumber }}</td>
                                <td></td> 
                                <td>{{user.homeAddress}}</td>
                                <td>{{user.submitDate }}</td>  
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="showTable" class="row justify-content-space-between align-items-center">
                       <div class="col-md-1">
                        
                       </div>
                         <div class="col-md-11 text-right">
                            <pagination-controls class="my-pagination text-end" (pageChange)="currentPage = $event" previousLabel="" nextLabel=""></pagination-controls>
                         </div>
           
                      </div>
                </div>
                
            </div>

             </div> 
         </section> 
        </div> 
     </div>
     