
 
  <div class="modal-header">
    <h3 class="modal-title mt-0">تعديل البيانات الشخصية </h3>

    <button type="button" class="btn-close" aria-hidden="true" (click)="hide()"><i class="fa fa-close"></i></button>
  </div>
  <div class="modal-body" [busy]="isTableLoading">
    <form [formGroup]="editPersonalData" (ngSubmit)="updatePersonalData()">

    <div class="row mb-3">
      <label class="col-md-3 form-label"> الاسم </label>
      <div class="col-sm-9">
        <input [class.is-invalid]="editPersonalData.get('name')?.status=='INVALID'"
          type="text" formControlName="name" class="form-control" id="name">
          <div *ngIf="editPersonalData.get('name')?.errors && editPersonalData.get('name')?.touched" class="invalid-feedback">
            <span *ngIf="editPersonalData.get('name')?.getError('required')">
            is Required </span>
       </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-3 form-label"> الاسم بالانجليزية </label>
      <div class="col-sm-9">
        <input [class.is-invalid]="editPersonalData.get('nameEn')?.status=='INVALID'"
          type="text" formControlName="nameEn" class="form-control" id="nameEn">
          <div *ngIf="editPersonalData.get('nameEn')?.errors && editPersonalData.get('nameEn')?.touched" class="invalid-feedback">
            <span *ngIf="editPersonalData.get('nameEn')?.getError('required')">
            is Required </span>
       </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-3 form-label"> المؤهل </label>
      <div class="col-sm-9">
        <input [class.is-invalid]="editPersonalData.get('jobTitle')?.status=='INVALID'"
          type="text" formControlName="jobTitle" class="form-control" id="jobTitle" >
          <div *ngIf="editPersonalData.get('jobTitle')?.errors && editPersonalData.get('jobTitle')?.touched" class="invalid-feedback">
            <span *ngIf="editPersonalData.get('jobTitle')?.getError('required')">
            is Required </span>
       </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-3 form-label"> الحالة الاجتماعية </label>
      <div class="col-sm-9">
        <select
          class="form-control"
          placeholder="Select marital Status"
          formControlName="maritalStatus"
          [(ngModel)]="maritalStatus"
          [class.is-invalid]="editPersonalData.get('maritalStatus')?.status=='INVALID'"
          >
          <option [ngValue]="maritalStatus" selected>{{maritalStatus}}</option>
          <option
            *ngFor="let maritalStatus of maritalStatuses"
            value="{{maritalStatus.name}}">
            {{ maritalStatus.name }}
          </option>
        </select>


          <div *ngIf="editPersonalData.get('maritalStatus')?.errors && editPersonalData.get('maritalStatus')?.touched" class="invalid-feedback">
            <span *ngIf="editPersonalData.get('maritalStatus')?.getError('required')">
            is Required </span>
       </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-3 form-label"> رقم الهاتف </label>
      <div class="col-sm-9">
        <input [class.is-invalid]="editPersonalData.get('phoneNumber')?.status=='INVALID'"
          type="text" formControlName="phoneNumber" class="form-control" id="phoneNumber" readonly>
          <div *ngIf="editPersonalData.get('phoneNumber')?.errors && editPersonalData.get('phoneNumber')?.touched" class="invalid-feedback">
            <span *ngIf="editPersonalData.get('phoneNumber')?.getError('required')">
             is Required </span>
       </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-3 form-label">  النوع </label>
      <div class="col-sm-9">
          <select
          class="form-control"
          placeholder="Select gender"
          formControlName="gender"
          [(ngModel)]="gender"
          [class.is-invalid]="editPersonalData.get('gender')?.status=='INVALID'"
          >
          <option [ngValue]="gender" selected>{{gender}}</option>
          <option value="ذكر"> ذكر </option>
          <option value="انثي"> انثي </option>
        </select>

          <div *ngIf="editPersonalData.get('gender')?.errors && editPersonalData.get('gender')?.touched" class="invalid-feedback">
            <span *ngIf="editPersonalData.get('gender')?.getError('required')">
            is Required </span>
       </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-3 form-label">  تاريخ الميلاد </label>
      <div class="col-sm-9">
        <input [class.is-invalid]="editPersonalData.get('dateOfBirth')?.status=='INVALID'"
          type="date" formControlName="dateOfBirth" class="form-control" id="dateOfBirth"
          [ngModel]="dateOfBirth | date:'yyyy-MM-dd'" >
          <div *ngIf="editPersonalData.get('dateOfBirth')?.errors && editPersonalData.get('dateOfBirth')?.touched" class="invalid-feedback">
            <span *ngIf="editPersonalData.get('dateOfBirth')?.getError('required')">
            is Required </span>
       </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-3 form-label">  العنوان </label>
      <div class="col-sm-9">
        <input [class.is-invalid]="editPersonalData.get('homeAddress')?.status=='INVALID'"
          type="text" formControlName="homeAddress" class="form-control" id="homeAddress" >
          <div *ngIf="editPersonalData.get('homeAddress')?.errors && editPersonalData.get('homeAddress')?.touched" class="invalid-feedback">
            <span *ngIf="editPersonalData.get('homeAddress')?.getError('required')">
            is Required </span>
       </div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-md-3 form-label">  تاريخ الانتهاء </label>
      <div class="col-sm-9">
        <input [class.is-invalid]="editPersonalData.get('expiryDate')?.status=='INVALID'"
          type="date" formControlName="expiryDate" class="form-control" id="expiryDate"
          [ngModel]="expireDate | date:'yyyy-MM-dd'" >
          <div *ngIf="editPersonalData.get('expiryDate')?.errors && editPersonalData.get('expiryDate')?.touched" class="invalid-feedback">
            <span *ngIf="editPersonalData.get('expiryDate')?.getError('required')">
            is Required </span>
       </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-light mx-2" (click)="hide()"> close </button>
      <button type="submit" [disabled]="editPersonalData.invalid" class="btn btn-danger mx-1"> Edit </button>
    </div>
  </form>
  </div>

