<div [@routerTransition]>
   <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 leftContent">
          <button class="btn-dwonload"><i class="fa-regular fa-file-pdf"></i> download PDF</button>
          <div style="clear: both;"></div>

          <div class="row">
               <div class="col-md-8">
                  <div class="darkDiv">
                    <!-- <h2>Hi,Jennifer! </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,<br>
                       deleniti. Quidem voluptates obcaecati.</p> -->
                    
                    <textarea rows="3"></textarea>
                    <button>Edit note</button>
                    <div style="clear: both;"></div>
                  </div>
               </div>
               <div class="col-md-2">
                   <div class="lightDiv pink">
                    <h2><i class="fa-solid fa-plus"></i>11</h2>
                    <p>reviews</p> 
                   </div>
               </div>
               <div class="col-md-2">
                 <div class="lightDiv green">
                    <h2><i class="fa-solid fa-plus"></i>78</h2>
                    <p>patients</p> 
                 </div>
               </div>
          </div>
<br>
          <div class="analytics">
              <h3>Patient analytics</h3>
              <div class="row">
                  <div class="col-md-4">
                      <div class="inner">
                          <div class="icon">
                            <i class="fa-solid fa-xmark"></i>
                          </div>
                          <div class="text">
                             <h4>Reject Application</h4>
                             <p>16 persons</p>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                    <div class="inner" style="background-color: #f8b25a;">
                      <div class="icon" style=" background-color: #e3a454;">
                        <i class="fa-solid fa-pen-to-square"></i>
                      </div>
                      <div class="text">
                         <h4>Edit Application</h4>
                         <p>125 for the month</p>
                      </div>
                  </div>
                  </div>

                  <div class="col-md-4">
                      <div class="inner" style="background-color: #5eb2a8;">
                          <div class="icon" style="background-color: #5ba39a;">
                            <i class="fa-solid fa-check"></i>
                          </div>
                          <div class="text">
                             <h4>Accept Application </h4>
                             <p>200+</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
<br>
           <div class="detiles">
              <div class="row">
                  <div class="col-md-8">
                     <div class="content">
                        <div class="header">
                          <div class="icon">
                            <i class="fa-solid fa-chart-simple"></i>
                          </div>
                            <h4>المعلومات المالية  </h4>
                        </div>
                        <table class="table table-nowrap mb-0">
                          <tr>
                            <td>10000</td>
                            <th>الدخل</th>
                          </tr>
                          <tr>
                            <td>N/A</td>
                            <th>التسهيلات الائتمانية النشطة</th>
                          </tr>
                          <tr>
                            <td>file://192.168.20.4/iscorePFDs/27012262102343.pdf</td>
                            <th> الملف الاساسي</th>
                          </tr>
                          <tr>
                            <td><button class="calc">حساب الحد الادني للرصيد</button></td>
                            <th> الحد الائتماني</th>
                          </tr>
                          <tr>
                            <td>N/A</td>
                            <th> الدخل المفترض</th>
                          </tr>
                      </table>
                     </div>
                  </div>
                  <div class="col-md-4">
                    <div class="content">
                      <div class="header">
                        <div class="icon">
                          <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <h4>العنوان </h4>
                    </div>
                    <table class="table table-nowrap mb-0">
                        <tr>
                          <td>الجيزة</td>
                          <th>المحافظة</th>
                        </tr>
                        <tr>
                          <td>المنيرة</td>
                          <th>المنطقة</th>
                        </tr>
                        <tr>
                          <td>ش منصور زيادة - ش الجامع - المنيرة </td>
                          <th>عنوان المنزل</th>
                        </tr>
                        <tr>
                          <td>ش منصور زيادة - ش الجامع - المنيرة </td>
                          <th>العنوان المحدث</th>
                        </tr>
                    </table>
                    </div>
                 </div>
              </div>
           </div>
      </div>
      <div class="col-md-3">
          <div class="rightContent">
               <img src="assets/img/user.png" alt="">
                <h2>نهاد منسى ابراهيم داود</h2>
                <h6> 27012262102343</h6>
                <h6>01069544103</h6>
                <h6> <span>Rejected</span> - ربه منزل </h6>

            <br>

                <h4>Verified by </h4>
                <div class="eventBox">
                    <img src="assets/img/Verified_3.png" class="w-25">
                    <img src="assets/img/Verified_2.png" class="w-25">
                    <img src="assets/img/Verified_1.png" class="w-25">
                    <img src="assets/img/Verified_4.png" class="w-25">
                </div>

            <br>
               
              <h4>pending by </h4>
                <div class="eventBox">
                    <img src="assets/img/Verified_3.png" class="w-25">
                    <img src="assets/img/Verified_2.png" class="w-25"> 
                    <img src="assets/img/Verified_4.png" class="w-25">
                </div>
                <!-- <div class="eventBox">
                  <div class="icon" style="background-color: #f28d8a;">
                    <i class="fa-solid fa-calendar-days"></i>
                  </div>
                  <div class="text">
                      <h5>Medical conference</h5>
                      <h6>May 5 - 11:00 AM</h6> 
                  </div>
               </div> -->

            <br>
             
               <h4>New notifications</h4>
               <div class="notification">
                   <button>
                      <i class="fa fa-close"></i>
                   </button>
                   <p>this Patient will come to <br>
                    you in 5 minutes.</p>
               </div>
          </div>
      </div>
  </div>
   </div>
</div>
