<div [@routerTransition]>



    <div class="container-fluid" id="contentToConvert">
     <div class="row" >
       <div class="col-md-9 leftContent">
           <button class="btn-dwonload" (click)="convetToPDF()"><i class="fa-regular fa-file-pdf"></i> download PDF</button>
           <div style="clear: both;"></div>
 
           
           <div class="row d-flex align-items-center">
                <div class="col-md-10">
                   <div class="darkDiv"> 
                    <div class="row d-flex input-group fiedInput w-100">
                      <form  class=" w-100" (ngSubmit)="editRiskClientNote()">
                        <div class="col-md-12">
                          <textarea class="form-control" placeholder="" name="NoteMsg" [(ngModel)]= "NoteMsg"></textarea>
                        </div>
                        <div>
                          <button class="btn btn-primary mx-1" for="inputGroupSelect01" type="submit"> Edit Note </button>
                        </div>
        
                        </form>
                      </div> 
                     <div style="clear: both;"></div>
                   </div>
                </div>
                <div class="col-md-2">
                  <button class="btnActions bgGreen" [disabled]="isEditRiskLimit" (click)="AceeptRisk()">
                    <i class="fa-solid fa-check"></i> Accept</button>
                    
                   <button class="btnActions bgPink" [disabled]="isEditRiskLimit" (click)="RejectRisk()">
                    <i class="fa-solid fa-xmark"></i> Reject</button>

                   <button class="btnActions bgYellow" [disabled]="isEditRiskLimit" (click)="EditRisk()">
                    <i class="fa-solid fa-pen-to-square"></i> Edit</button>

                   
                </div> 
           </div>
 
 <br>
            <div class="detiles">
               <div class="row">
                   <div class="col-md-6">

                    <div class="content">
                        <div class="header border-0"> 
                             <h4> SalesRepMessage </h4>
                         </div>
                         <div class="row d-flex input-group fiedInput">
                          <form  class="d-flex align-items-end w-100" (ngSubmit)="saveMessage(SalMessage)">
                            <div class="col-md-12">
                              <textarea [(ngModel)]="salesRepMessage" class="form-control" placeholder="Enter message" name="SalesRepMessage" #SalMessage></textarea>
                            </div> 
                
                            </form>
                          </div>
                    </div>

                    <br>

                      <div class="content">
                         <div class="header">
                           <div class="icon">
                             <i class="fa-solid fa-chart-simple"></i>
                           </div>
                             <h4>المعلومات المالية  </h4>
                         </div>
                         <table class="table table-nowrap mb-0">
                           <tr>
                             <td>{{ userItem.income }}</td>
                             <th>الدخل</th>
                           </tr>
                           <tr>
                             <td>{{ userItem.activeCreditFacility }}</td>
                             <th>التسهيلات الائتمانية النشطة</th>
                           </tr>
                           <tr> 
                             <td>  {{userItem.iscoreFile}} </td>
                             <th> I-score</th>
                           </tr>
                           <tr>
                              <td>{{ userItem.otherDocuments }}</td>
                              <th>مستندات أخري</th>
                           </tr>
                           <tr>
                              <td>{{ userItem.creditLimit }}</td>
                              <th>الحد الائتماني</th>
                           </tr> 
                           <tr>
                            <td> 
                              <input  [readonly]="isEditRiskLimit?'':true" (keypress)="numberOnly($event)" maxlength="6"  [(ngModel)]="riskApprovedLimit" value="{{ riskApprovedLimit }}" type="text" class="mb-3 form-control" id="formrow-inputCity">   &nbsp;
                              <button (click)="editRiskLimit()" 
                                   [disabled]="isEditRiskLimit && (riskApprovedLimit<5000 || riskApprovedLimit > 100000) " 
                                   type="button" [ngClass]="isEditRiskLimit ? 'btn btn-success' : 'btn btn-primary'">
                                   <i [ngClass]="isEditRiskLimit ? 'bx bx-save font-size-16 align-middle me-2' : 'bx bx-edit font-size-16 align-middle me-2'">
                                   </i>
                                    {{isEditRiskLimit?'Save Risk Limt':'Edit Risk Limet'}} </button>
                              &nbsp; 
                              <button *ngIf="isEditRiskLimit" (click)="editRiskLimit(true)" type="button" class='btn btn-danger'>
                                <i class='bx bx-x font-size-16 align-middle me-2'></i>  Cancel </button>
                            </td>
                            
                            <th scope="row"> حد المخاطرة </th>
                          </tr>
                           <tr>
                             <td>{{ userItem.assumedIncome }}</td>
                             <th> الدخل المفترض</th>
                           </tr>
                           <tr>
                            <td>{{ userItem.instantLimit }}</td>
                            <th> منح من قبل النظام	</th>
                          </tr>
                       </table>
                      </div>

                      <br>

                      <div class="content">
                        <div class="header">
                          <div class="icon"> 
                            <i class="fa-regular fa-clipboard"></i>
                          </div>
                          <h4>Score Card </h4>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                          <tbody>
                            <tr *ngFor="let item of userItem.rejectionList">
                           
                              <td><span class="alert alert-danger">{{item.name}}</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                     <div class="content">
                       <div class="header">
                         <div class="icon">
                           <i class="fa-solid fa-location-dot"></i>
                         </div>
                         <h4>العنوان </h4>
                     </div>
                     <table class="table table-nowrap mb-0">
                         <tr>
                           <td>{{ userItem.governorate }}</td>
                           <th>المحافظة</th>
                         </tr>
                         <tr>
                           <td>{{ userItem.area }}</td>
                           <th>المنطقة</th>
                         </tr>
                         <tr>
                            <td>{{ userItem.city }}</td>
                            <th>المدينة</th>
                         </tr>
                         <tr>
                           <td> {{ userItem.homeAddress }} </td>
                           <th>عنوان المنزل</th>
                         </tr>
                         <tr>
                           <td> {{ userItem.niHomeAddress }} </td>
                           <th>العنوان المحدث</th>
                         </tr>
                     </table>
                     </div>

                     <br> 
                     <div class="content">
                      <div class="header">
                        <div class="icon"> 
                          <i class="fa-solid fa-user"></i>
                        </div>
                        <h4>المعلومات الشخصية </h4>
                    </div>
                    <table class="table table-nowrap mb-0">
                      <tr>
                        <td>{{ userItem.mobileNumber }}</td>
                        <th>رقم الهاتف</th>
                      </tr>
                      <tr>
                        <td>{{ userItem.name }}</td>
                        <th> الاسم كامل</th>
                      </tr>
                      <tr> 
                        <td>  {{ userItem.nationalId }} </td>
                        <th> الرقم القومي</th>
                      </tr>
                      <tr>
                         <td>{{ userItem.expiryDate }}</td>
                         <th> تاريخ انتهاء الهوية</th>
                      </tr>
                      <tr>
                         <td>{{ userItem.gender }}</td>
                         <th> النوع</th>
                      </tr> 
                      <tr>
                        <td>{{ userItem.age }}</td>
                        <th>  العمر</th>
                      </tr>
                      <tr>
                       <td>{{ userItem.maritalStatus }}</td>
                       <th> الحالة الاجتماعية</th>
                     </tr>
                     <tr>
                      <td>{{ userItem.email }}</td>
                      <th> البريد الالكتروني	</th>
                    </tr>
                    <tr>
                      <td>{{ userItem.companyName }}</td>
                      <th>  اسم الشركة</th>
                    </tr>
                    <tr>
                      <td>{{ userItem.education }}</td>
                      <th>  التعليم</th>
                    </tr>
                    <tr>
                      <td>{{ userItem.occupation}}</td>
                      <th>المهنة</th>
                    </tr>
                    <tr>
                      <td>{{ userItem.jobTitle }}</td>
                      <th>المسمي الوظيفي</th>
                    </tr>
                    <tr>
                      <td>{{ userItem.emergencyContactPerson }}</td>
                      <th>شخص للتواصل في حالات الطوارئ</th>
                    </tr>
                    <tr>
                      <td>{{ userItem.emergencyContactPhoneNumber }}</td>
                      <th>رقم للتواصل في حالات الطوارئ</th>
                    </tr>
                    <tr>
                      <td>{{ userItem.car }}</td>
                      <th>السيارة </th>
                    </tr>
                    <tr>
                      <td>{{ userItem.carModelYear }}</td>
                      <th>موديل السيارة  </th>
                    </tr>
                    <tr>
                      <td>{{ userItem.clubId }}</td>
                      <th>النادي </th>
                    </tr>
                    <tr>
                      <td>{{ userItem.clubCategory }}</td>
                      <th>فئة النادي </th>
                    </tr>
                    <tr>
                      <td>{{ userItem.status }}</td>
                      <th>الحالة </th>
                    </tr>
                  </table>
                    </div>
                  </div>
               </div>
            </div>

       </div>
       <div class="col-md-3">
           <div class="rightContent">
                <img [src]="pesonalImages" alt="" style="height: 135px;" class="img-thumbnail rounded-circle">
                 <h2> {{ userItem.name }} </h2>
                 <h6> {{ userItem.nationalId }}</h6>
                 <h6>{{ userItem.mobileNumber }}</h6>
                 <h6> <span>{{ userItem.status }}</span> </h6>
                  <h6>   {{ userItem.jobTitle }} </h6>
 
             <br>
               <div *ngIf="verify_list.length > 0">
                <h4>Verified by </h4>
                <div class="eventBox">
                  <div class="row">
                    <div class="col-md-3" *ngFor="let verBy of verify_list">
                      <img [src]="verBy" class="w-75 imgVerified">
                    </div>
                  </div> 
                 </div>
               </div>
                  
             <br>

             <div *ngIf="reject_list.length > 0">
              <h4>Rejected by </h4>
              <div class="eventBox">
                <div class="row">
                  <div class="col-md-3" *ngFor="let rejBy of reject_list">
                    <img [src]="rejBy" class="w-75 imgVerified"  title="click me">
                  </div>
                </div> 
               </div>
             </div>

             <br>

             <div *ngIf="bending_list.length > 0">
              <h4>Pending by </h4>
              <div class="eventBox">
                <div class="row">
                  <div class="col-md-3" *ngFor="let bend of bending_list">
                    <img [src]="bend" class="w-75 imgVerified"  title="click me">
                  </div>
                </div> 
               </div>
             </div>

           </div>
       </div>
   </div>
    </div>
 </div>
 