<form
  class="form-horizontal"
  autocomplete="off"
  #createUserModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'[Create New User]'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    
       <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            [English name]
          </label>
           
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              maxlength="32"
              [(ngModel)]="user.name"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            [Arabic name]
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="arname"
              id="arname"
              required
              maxlength="32"
              [(ngModel)]="user.surname"
              #surnameModel="ngModel"
              #surnameEl
            />
            <abp-validation-summary
              [control]="surnameModel"
              [controlEl]="surnameEl"
            ></abp-validation-summary>
          </div>
        </div> 
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            [Mobile number]
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="arname"
              id="arname"
              required
              maxlength="32"
                
              #surnameEl
            />
            <abp-validation-summary
              [control]="surnameModel"
              [controlEl]="surnameEl"
            ></abp-validation-summary>
          </div>
        </div> 
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            [Branch phone number]
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="arname"
              id="arname"
              required
              maxlength="32" 
              #surnameEl
            />
            <abp-validation-summary
              [control]="surnameModel"
              [controlEl]="surnameEl"
            ></abp-validation-summary>
          </div>
        </div> 
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            [activation point id]
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="arname"
              id="arname"
              required
              maxlength="32" 
              #surnameEl
            />
            <abp-validation-summary
              [control]="surnameModel"
              [controlEl]="surnameEl"
            ></abp-validation-summary>
          </div>
        </div> 
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            [Merchant code]
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="arname"
              id="arname"
              required
              maxlength="32" 
              #surnameEl
            />
            <abp-validation-summary
              [control]="surnameModel"
              [controlEl]="surnameEl"
            ></abp-validation-summary>
          </div>
        </div> 
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="surname">
            [Merchant logo]
          </label>
          <div class="col-md-9">
            <input
              type="file"
              class="form-control"
              name="arname"
              id="arname"
              required
              maxlength="32" 
              #surnameEl
            />
            <abp-validation-summary
              [control]="surnameModel"
              [controlEl]="surnameEl"
            ></abp-validation-summary>
          </div>
        </div> 
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="password">
           password
          </label>
          <div class="col-md-9">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              required
              maxlength="32"
              validateEqual="confirmPassword"
              reverse="true"
              pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
              [(ngModel)]="user.password"
              #passwordModel="ngModel"
              #passwordEl
            />
            <abp-validation-summary
              [control]="passwordModel"
              [controlEl]="passwordEl"
              [customValidationErrors]="passwordValidationErrors"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="password">
           confirm password
          </label>
          <div class="col-md-9">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              required
              maxlength="32"
              validateEqual="confirmPassword"
              reverse="true"
              pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
              [(ngModel)]="user.password"
              #passwordModel="ngModel"
              #passwordEl
            />
            <abp-validation-summary
              [control]="passwordModel"
              [controlEl]="passwordEl"
              [customValidationErrors]="passwordValidationErrors"
            ></abp-validation-summary>
          </div>
        </div>
     

       <div class="form-group row flex-nowrap">
          <div class="col-md-6">
            <div class="custom-control custom-checkbox d-inline mx-3">
              <input
                      type="checkbox"
                      class="custom-control-input"
                      id="isActives"
                      name="isActive" 
                      [value]="true"
              />
              <label
                      class="custom-control-label"
                      for="isActives"
              >
              [Sales sign up]
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="custom-control custom-checkbox d-inline mx-3">
              <input
                      type="checkbox"
                      class="custom-control-input"
                      id="isActivem"
                      name="isActivem" 
                      [value]="true"
              />
              <label
                      class="custom-control-label"
                      for="isActivem"
              >
              [Merchant sign up]
              </label>
            </div>
          </div>
       </div>

       <div class="form-group row flex-nowrap">
        <div class="col-md-6">
          <div class="custom-control custom-checkbox d-inline mx-3">
            <input
                    type="checkbox"
                    class="custom-control-input"
                    id="isActivep"
                    name="isActivep" 
                    [value]="true"
            />
            <label
                    class="custom-control-label"
                    for="isActivep"
            >
            [Merchant portal sign up]
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="custom-control custom-checkbox d-inline mx-3">
            <input
                    type="checkbox"
                    class="custom-control-input"
                    id="isActivesm"
                    name="isActivesm" 
                    [value]="true"
            />
            <label
                    class="custom-control-label"
                    for="isActivesm"
            >
            [Send sms]
            </label>
          </div>
        </div>
     </div>
    
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
