.bgGrey{
    background-color: #f8f8f8;
    padding: 1rem;
}

.bgGreen{
    background-color: #5eb2a8; 
    color: #fff;
}

.bgYellow{
    background-color: #f8b25a; 
    color: #fff;
}

.btnCreate{
    background-color: #5eb2a8;
    padding: 5px 21px;
    border-radius: 14px;
    color: #fff;
}

.bgPink{
    background-color: #f28d8a;
    color: #fff;
}

.card{
    box-shadow: none;
}

.card-footer{
    background-color: #ebebeb;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border: none;
    background-color: #f28d8a;
  }


  .boldText{
    font-weight: bold;
  }

  .mat-mdc-slide-toggle{
    line-height: 2.5;
  }
 
 
  .select2-container::ng-deep{
    width:100% !important;
  }

  .select2-container::ng-deep .select2-selection--single{
    height: 34px !important;
}