<div [@routerTransition]>
    <div class="bgGrey m-2">
     <section class="content-header">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-6">
                     <h1>Merchant Settlement</h1>
                 </div>
                 <div class="col-6 text-right">
                     <a href="javascript:;" class="btn btnCreate" (click)="createUser()">
                         <i class="fa-solid fa-plus"></i>
                         {{ "Create" | localize }}
                     </a>
                 </div>
             </div>
         </div>
     </section>
     <section class="content px-2">
         <div class="container-fluid">
  
                   
         
          <br>
 
             <div class="card">
                 <div class="card-body">
                     <div class="table-responsive">
                         <table class="table table-striped table-bordered" [busy]="isTableLoading">
                             <thead class="bg-light">
                             <tr>
                                 <th>{{ "UserName" | localize }}</th>
                                 <th>{{ "FullName" | localize }}</th>
                                 <th>{{ "EmailAddress" | localize }}</th>
                                 <th>{{ "IsActive" | localize }}</th>
                                 <th style="width: 310px;">{{ "Actions" | localize }}</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr
                                     *ngFor="
                   let user of users
                     | paginate
                       : {
                           id: 'server',
                           itemsPerPage: pageSize,
                           currentPage: pageNumber,
                           totalItems: totalItems
                         }
                 "
                             >
                                 <td>{{ user.userName }}</td>
                                 <td>{{ user.fullName }}</td>
                                 <td>{{ user.emailAddress }}</td>
                                 <td>
                                     <div class="custom-control custom-checkbox">
                                         <input
                                                 type="checkbox"
                                                 class="custom-control-input"
                                                 disabled
                                                 [checked]="user.isActive"
                                         />
                                         <label class="custom-control-label"></label>
                                     </div>
                                 </td>
                                 <td>
                                     <button
                                             type="button"
                                             class="btn btn-sm mx-2 bgPink"
                                             (click)="delete(user)"
                                     >
                                         <i class="fas fa-trash"></i>
                                         {{ "Delete" | localize }}
                                     </button>
                                     <button
                                             type="button"
                                             class="btn btn-sm mx-2 bgYellow"
                                             (click)="editUser(user)"
                                     >
                                         <i class="fas fa-pencil-alt"></i>
                                         {{ "Edit" | localize }}
                                     </button>
                                     <button
                                             type="button"
                                             class="btn btn-sm bgGreen" 
                                     >
                                         <i class="fas fa-lock"></i>
                                         {{ "ResetPassword" | localize }}
                                     </button>
                                 </td>
                             </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
                 <div class="card-footer table-card-footer bg-light border-top">
                     <div class="row">
                         <div class="col-sm-4 col-12 text-sm-left text-center">
                             <button class="btn btn-secondary" (click)="refresh()">
                                 <i class="fas fa-redo-alt"></i>
                             </button>
                         </div>
                         <div class="col-sm-4 col-12 text-center">
                             <p class="mb-0 my-2">
                                 {{ "TotalRecordsCount" | localize: totalItems }}
                             </p>
                         </div>
                         <div class="col-sm-4 col-12">
                             <div class="float-sm-right m-auto">
                                 <abp-pagination-controls
                                         id="server"
                                         (pageChange)="getDataPage($event)"
                                 >
                                 </abp-pagination-controls>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div> 
     </section>
    </div>
 </div>
 