<div [@routerTransition]>
    <div class="bgGrey m-2">
     <section class="content-header">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-6">
                     <h1>Users HardRejected</h1>
                 </div> 
             </div>
         </div>
     </section>
     <section class="content px-2">
         <div class="container-fluid">
  
      
          <br>
 
             <div class="card">
                 <div class="card-body">
                     <div class="table-responsive">
                         <table class="table table-striped table-bordered" [busy]="isTableLoading">
                             <thead class="bg-light">
                             <tr>
                                 <th>Name</th>
                                 <th>Email</th>
                                 <th>Phone Number</th>
                                 <th>National ID</th>
                                 <th>Age</th>
                                 <th>address</th>
                                 <th>Submited Date</th>
                                 <th>{{ "Actions" | localize }}</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr *ngFor="let user of userlist  | paginate : {
                                                id: 'server',
                                                itemsPerPage: pageSize,
                                                currentPage: pageNumber,
                                                totalItems: totalItems
                                                }
                                        ">
                                 <td>{{ user.name }}</td>
                                 <td>{{ user.email }}</td>
                                 <td>{{ user.phoneNumber }}</td>
                                 <td>{{user.nationalID}}</td>
                                 <td>{{user.age}}</td>
                                 <td>{{user.address}}</td>
                                 <td>{{user.submitedDate}}</td>
                                 <td>
                                     <button
                                             type="button"
                                             class="btn btn-sm mx-2 bgPink" 
                                             (click)="viewDetails(user.phoneNumber)"
                                     >
                                     <i class="fa-sharp fa-solid fa-eye"></i>
                                         view
                                     </button>   
                                 </td>
                             </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
                 <div class="card-footer table-card-footer bg-light border-top">
                     <div class="row">
                         <div class="col-sm-4 col-12 text-sm-left text-center">
                             <button class="btn btn-secondary" (click)="refresh()">
                                 <i class="fas fa-redo-alt"></i>
                             </button>
                         </div>
                         <div class="col-sm-4 col-12 text-center">
                             <p class="mb-0 my-2">
                                 {{ "TotalRecordsCount" | localize: totalItems }}
                             </p>
                         </div>
                         <div class="col-sm-4 col-12">
                             <div class="float-sm-right m-auto">
                                 <abp-pagination-controls
                                         id="server"
                                         (pageChange)="getDataPage($event)"
                                 >
                                 </abp-pagination-controls>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div> 
     </section>
    </div>
 </div>
 