.nav-pills .nav-link.active{
    background-color: #5eb2a8;
    border-radius: 12px;
    width: 100%;
}

 
.nav-pills .nav-link:hover{
    color: #46837c;
}

.nav-sidebar>.nav-item{
    width: 100%;
}