<div [@routerTransition]>
    <div class="bgGrey m-2">
         <section class="content-header">
             <div class="container-fluid">
                 <div class="row">
                     <div class="col-6">
                         <h1>Program</h1>
                     </div> 
                 </div>
             </div>
         </section>
         <section class="content px-2">
             <div class="container-fluid">
         
              <br>
     
                 <div class="card">
                     <div class="card-body">

                        <div class="d-flex containAlerts">
                            <button class="btn btnCreate" (click)="addProgram()">Add</button>
                        </div>

                        <p *ngIf="!showTable" class="alert alert-warning text-center">Data is Empty</p>
    
                         <div *ngIf="showTable" class="table-responsive">
                            

                             <table class="table table-striped table-bordered" [busy]="isTableLoading">
                                <caption>Program</caption>

                                 <thead class="bg-light">
                                 <tr>
                                     <th>ID</th>
                                     <th>Name Ar</th> 
                                     <th>Name En</th> 
                                     <th>Action</th>

                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr *ngFor="let program of Programs | paginate: { itemsPerPage: numberRows, currentPage: currentPage }"
                                      class="btnView">
                                     <td>{{ program.id }}</td>
                                     <td>{{program.nameAR}}</td> 
                                     <td>{{program.nameEn}}</td> 
                                     <td>
                                        <button class="btn bgYellow" (click)="editProgram(program.id)"><span class="spanBtn">Edit </span><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button class="btn bgRed" (click)="delProgram(program.id)"><span class="spanBtn">Delete </span><i class="fa-solid fa-trash-can"></i></button>
                                    </td>
                                 </tr>
                                 </tbody>
                             </table>
                         </div>
    
                         <div *ngIf="showTable" class="row justify-content-space-between align-items-center">
                            <div class="col-md-1">
                             
                            </div>
                              <div class="col-md-11 text-right">
                                 <pagination-controls class="my-pagination text-end" (pageChange)="currentPage = $event" previousLabel="" nextLabel=""></pagination-controls>
                              </div>
                
                         </div>
                     </div>
                     
                 </div>

              

             </div> 
         </section> 
        </div> 
     </div>
     