 
    <div class="modal-header">
      <h5 class="modal-title mt-0">[accept Risk]</h5>
  
      <button type="button" class="btn-close" aria-hidden="true" (click)="hide()"></button>
    </div>
    <div class="modal-body">
      <div class="row">
         <div class="col-md-3">
          <label class="form-label"> AreSureAccept {{ userItem.name }}?</label>
         </div>
         <div class="col-md-9">
          <p>   riskLimit  {{ riskApprovedLimit }}</p>
         </div>
      </div>
    
      
      <div class="mb-3">
        <div class="row">
            <div class="col-md-3">
              <label class="form-label"> approve Comment </label>
            </div>
            <div class="col-md-9">
              <textarea [(ngModel)]="approveRiskComment" [value]="approveRiskComment" name="approveRiskComment" class="form-control" rows="4"></textarea>
  
            </div>
        </div>

      </div>
  
      <div class="mb-3">
        <div class="row">
           <div class="col-md-3">
            <label class="form-label"> salesRepMessage  </label>
           </div>

           <div class="col-md-9">
            <textarea [(ngModel)]="salesRepMessage" [value]="salesRepMessage"
            name="salesRepMessage" class="form-control" rows="4" placeholder="Sales Rep Message..."
                ></textarea>

            <div class="invalid-feedback">
              <span>is Required</span>
            </div>
           </div>
        </div>
        
        <div>
         
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="hide()">close</button>
      <button type="button" (click)="accceptRiskApplication()" class="btn bgGreen">Accept</button>
    </div>
 
  