 
    <div class="modal-header">
      <h5 class="modal-title mt-0">acceptRisk</h5>
  
      <button type="button" class="btn-close" aria-hidden="true" (click)="hide()"><i class="fa fa-close"></i></button>
    </div>
    <div class="modal-body">
      <p> AreSureAccept {{ userItem.name }}?</p>
      <p><b>   riskLimit  {{ riskApprovedLimit }} </b></p>
      <div class="mb-3">
        <label class="form-label"> approve Comment </label>
  
        <textarea [(ngModel)]="approveRiskComment" [value]="approveRiskComment" name="approveRiskComment" class="form-control" rows="5"></textarea>
  
  
      </div>
  
      <div class="mb-3">
        <label class="form-label"> salesRepMessage  </label>
        <div>
          <textarea [(ngModel)]="salesRepMessage" [value]="salesRepMessage"
                    name="salesRepMessage" class="form-control" rows="5" placeholder="Sales Rep Message..."
              ></textarea>
 
          <div class="invalid-feedback">
            <span>is Required</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="hide()">close</button>
      <button type="button" (click)="accceptRiskApplication()" class="btn btn-success">Accept</button>
    </div>
 
  