<div [@routerTransition]>
    <div class="bgGrey m-2">
         <section class="content-header">
             <div class="container-fluid">
                 <div class="row">
                     <div class="col-6">
                         <h1>Income</h1>
                     </div> 
                 </div>
             </div>
         </section>
         <section class="content px-2">
             <div class="container-fluid">
         
              <br>
     
                 <div class="card">
                     <div class="card-body">
                         <div class="row">
                              <div class="col-md-6">
                                   <div>
                                      <label for="minIncome">Min. Income</label>
                                      <input type="text" id="minIncome" class="form-control">
                                   </div>
                              </div>
                              <div class="col-md-6">
                                <div>
                                   <label for="minIncome">Max. Income</label>
                                   <input type="text" id="maxIncome" class="form-control">
                                </div>
                           </div>
                           <div>
                              <button class="btn btnSave">Save</button>
                           </div>
                        </div>
                     </div>
                     
                 </div>

         
                 

             </div> 
         </section> 
        </div> 
     </div>
     